<div class="row container">
  <div class="col-lg-6">
    <h1>Users</h1>
    <% @users.each do |user| %>
      <p><%= link_to "#{user.full_name}", user_profile_path(user) %></p>
    <% end %>
  </div>

   <div class="col-lg-6">
    <h1>Emails</h1>
    <% @emails.each do |user| %>
      <p><%= link_to "#{user.email}", user_profile_path(user) %></p>
    <% end %>
  </div>
</div>  