<div class="message" style="margin-bottom: 8px;">
  <mark style="background-color: #1F618D; border-radius: 6px; word-break: break-all;text-align: left;">
    <span class="message_content" style="color: white">
      <%= message.user.full_name %>:
      <%= message.content %>
      
    </span>
  </mark>

  </span>
   <span class="message_timestamp" style="float: right;">
    <%= message.created_at.strftime("%l:%M %P ") %>
  </span>
</div>
