<div class="col-lg-12" id="form_comments<%=post.id%>">
  <br>
    <%= form_for(Comment.new, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <%= f.hidden_field :post_id, :value => post.id %>
        <div class="col-lg-10">
          <div class="form-group">
            <img src="<%=User.find(post.user_id).image.url%>" style="width:9%;height:35px;float: left;border-radius: 50%;">
            <%= f.text_area :description, rows: 1, class: "form-control", placeholder: "Please enter a comment", autofocus: true, style: "width: 400px; margin-left: 50px;" %>
        </div>
      </div>
    <div class="col-lg-1 ">
        <div class="form-group">
          <%= f.submit :Comment,  class: "btn btn-primary btn-md" %>
        </div>
      </div>
    <% end %>
</div>