<div id="show_comments<%=post.id%>">
  <% if post.comments != [] %> 
   <div class="col-lg-12" id="show_comments<%=post.id%>" style="overflow:scroll; height: 200px;">
     <% post.comments.each do |comment| %>
      <br><br>
          
      <div class="col-lg-10">
        <img src="<%=User.find(comment.user_id).image.url%>" style="width:7%;height:30px;float: left;border-radius: 50%;">
          <mark class="friend-mark"  style="margin-left: 5px; margin-top: 1px;"  >
            <b><%= link_to "#{User.find(comment.user_id).full_name}", user_profile_path(comment.user_id) %></b>
            <%= comment.description %>
          </mark>
       
      </div>
        <% if user_signed_in? and comment.user_id == current_user.id %>
          <div class="col-lg-2" style="float: right;">
            <%= link_to "", edit_comment_path(comment), remote: true, style: "margin-left: 25px;", class: "fas fa-edit", title: "Edit comment"  %>
             <%= link_to "", comment, remote: true , method: :delete, data: { confirm: 'Are you sure?' }, style: "float: right", class: "fas fa-trash", title: "Delete comment"%>
           </div>
        <% elsif user_signed_in? and current_user.posts.include?(post)%>
          <div class="col-lg-2" style="float: right;">
             <%= link_to "", comment, remote: true , method: :delete, data: { confirm: 'Are you sure?' }, style: "float: right", class: "fas fa-trash", title: "Delete comment"%>
           </div>
        <% end %>
      <% end %> 
    </div> 
  <% end %>
  <div class="col-lg-12">
    <% if user_signed_in? %>
      <!-- Form for comments   -->
        <%= render partial: "comments/form_comments", locals: {post: post} %>
    <% end %>
  </div>
</div>