<div class="like-form" id="like_form<%=post.id%>" style="display: inline;">
<!-- like form -->
  <% if !(user_signed_in?) %>
    <button class="far fa-thumbs-up"></button>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.already_likes?(post.id) and current_user.likes.find_by(post_id: post.id).vote == true %>
     <button class="far fa-thumbs-up"></button>
    <% elsif current_user.already_likes?(post.id) and current_user.likes.find_by(post_id: post.id).vote == false %>
      <%= form_tag("likes/up", remote: true, method: "post", style: "display: inline") do %>
        <%= hidden_field_tag(:post_id, "#{post.id}") %>
        <%= hidden_field_tag(:like_id, "#{current_user.likes.find_by(post_id: post.id).id}") %>
        <!-- <%= submit_tag("Like(s)") %> -->
        <button class="far fa-thumbs-up"></button>
      <% end %>
    <% else %>
      <%= form_tag("likes/up", remote: true, method: "post", style: "display: inline") do %>
        <%= hidden_field_tag(:post_id, "#{post.id}") %>
       <!--  <%= submit_tag("Like(s)") %> -->
        <button class="far fa-thumbs-up"></button>
      <% end %>
    <% end %>
  <% end %>
</div>