<!-- Trigger the modal with an anchor tag -->
<a  href="#" id="likes_count<%=post.id%>" data-toggle="modal" data-target="#myModal<%=post.id%>"> <%= post.likes.where(vote: true).count.to_s+" "%></a>
<!-- Modal -->
<div class="modal fade" id="myModal<%=post.id%>" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Liked by:</h4>
      </div>
      <div class="modal-body">
        <% post.likes.where(vote: true).each do |like|%>
            <br>
            <%= link_to "#{like.user.full_name}", user_profile_path(like.user) %>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
