<div id="update_profile<%=current_user.id%>">
    <%= form_tag update_profile_path, remote: true, method: :post do %>
      <%= select_tag 'select_gender', options_for_select([ "Gender", "Male", "Female", "Others" ], current_user.gender)%>
      <%= select_tag 'select_age', options_for_select((1..100).to_a.unshift('Age'), selected: current_user.age)%>
    <%= submit_tag 'Update', class: 'black'%>
  <% end %>
</div>