<div id="edit_profile<%=current_user.id%>">
  <h4>
    <%= current_user.gender %>,
    <%= current_user.age %>
    <%= link_to "", edit_profile_path, remote: true, style: "margin-left: 25px;", class: "fas fa-edit", title: "Edit"  %>
  </h4>
  
</div>
      