<div id="edit_name<%=current_user.id%>" > 
    <h3>
      <%= current_user.full_name %>
      <%= link_to "", edit_name_path(current_user), remote: true, class: "fas fa-edit", title: "Edit"  %>
    </h3>
</div>