<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p class="lead" style="float: left;">Incoming Requests</p>
    </div>
    <div class="col-lg-6" >
      <p class="lead" style="float: left;">Outgoing Requests</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">  
        <br>
        <% if @friend_request %>
          <% @friend_request.each do |request| %>
            <div class="col-lg-12">
              <mark class="friend-mark" ><b><%= link_to "#{User.find(request.user_id).full_name}", user_profile_path(User.find(request.user_id)) %></b></mark>
               <div class="col-lg-5" style="float: right;">
                <%= link_to "Accept", request, method: :patch, class: "black" %>
                <%= link_to "Decline", request, method: :delete, data: {confirm: "Are you sure?"}, class: "black" %>
            </div>
            </div>
            <br><br>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <br>

        <% if @friend_request_outgoing %>
          <% @friend_request_outgoing.each do |request| %>
            <div class="col-lg-6">
              <mark class="friend-mark"><b><%= link_to "#{User.find(request.friend_id).full_name}", user_profile_path(User.find(request.friend_id)) %></b></mark>
            </div>
            <div class="col-lg-4">
               <%= link_to "Cancel", request, method: :delete, data: {confirm: "Are you sure?"}, class: "black" %>
            </div>
            <br><br>
          <% end %>
        <% end %>
      </div> 
    </div>
  </div>
</div>


