<% if !@posts.empty? %>
  <% @posts.each do |post| %> 
    <div class="col-lg-12" style="background-color: white; border-radius: 10px; margin-bottom: 25px;">
      <br>
      <div class="col-lg-12 " >
        <div class="col-lg-9">
        <span>
        <img src="<%=User.find(post.user_id).image.url%>" style=" float:left;width:10%;height:48px;border-radius: 50%;margin-right: 5px;margin-top: 15px;">
        <br>
        <%= link_to "#{post.user.full_name}", user_profile_path(post.user) %> 
        <i  class="fas fa-envelope"></i>
        </span> 
        <br>
        <%= post.created_at %>
        </div>
        <div class="col-lg-3">
          <% if user_signed_in? and current_user.id == post.user_id %>
            <div class="col-lg-12 text-right " style="margin-top: 30px;">

               <%= link_to "", edit_post_path(post), class: "fas fa-edit", title: "Edit post" %>
              <%= link_to "", post, method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash", style: "margin-left: 5px;", title: "Delete post" %>
            </div>
          <% end %>
        </div> 
      </div>
      <br><br><br><br>
      <div class="col-lg-12 slide-pic">
          <ul class="bxslider">
            <%  post.pics.each do |pic| %>
              <li>
                <a class="sb"  href="<%= pic.image.url %>"> <%= image_tag(pic.image.url, size: "800x400") %> </a>
              </li>

            <% end %>
          </ul>
      </div>

        
        <div class="col-lg-12 lead">
          <%= post.description %>
        </div>
        
      
      <!-- like and dislike counts and form -->
      <div class="col-lg-12">  
        <%= render partial: "likes/likes_count", locals: {post: post} %> 
        <%= render partial: "likes/like_form", locals: {post: post} %>

        <%= render partial: "likes/dislikes_count", locals: {post: post} %>
        <%= render partial: "likes/dislike_form", locals: {post: post} %> 
      </div>
    <!--  Showing Comments  -->
      <%= render partial: "comments/show_comments", locals: {post: post} %>
  
  </div>
<% end %> 

<% else %>
  <div class="col-lg-12">
    <h1 >Start adding friends and posts today!</h1>
  </div>
<% end %> 