<div class="col-lg-2"></div>
<div class="col-lg-6 ">
  <%= render partial: "posts/posts"%> 
</div>
<div class="col-lg-3" style="overflow:scroll; height: 200px; right: 0;margin-right: 25px;margin-top: 48px; background-color: white; border-radius: 10px; position: fixed;">

    <% if user_signed_in? %>
      <br>

      <p class="lead" style="background-color: #D0D3D4; border-radius: 5px;color: #154360;"><b>People you may know</b></p>
      <% User.all.each do |user| %>
        <% if current_user.friends.include?(user)%>
          <!-- <mark class="friend-mark" > <b><%= user.full_name %></b></mark>
          <i class="fas fa-check" style="float: right; margin-top: 10px;"></i> -->
          <% next %>
        <% elsif user == current_user %>
          <% next %>
        <% elsif current_user.friend_requests.find_by(friend_id: user.id) || user.friend_requests.find_by(friend_id: current_user.id) %>
          <% next %>
        <% else%>
          <img src="<%=user.image.url%>" style="width:40px; height: 40px;float: left;border-radius: 50%;">
          <mark class="friend-mark" style= " margin-top: 8px; margin-left: 5px;" > <b><%= link_to "#{user.full_name}", user_profile_path(user) %></b></mark>
              <%= link_to "Add friend", friend_requests_path(user), method: :post, style: "float: right; margin-top: 8px;", class: "black" %>
            
        <%end%>
        <br><br>
      <% end %>
    <% end %>

  </div>
</div>      
  
<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });
</script>
