<div class="col-lg-12 container">
  <h3 class="lead">New post</h3>
  <%= form_for @post, html: {multipart: true} do |f| %>
 
    <%= f.file_field(:image, :multiple => true, class: "btn btn-mini" ) %>
          <div  id="uniq" >
          </div>
          <br>
    <%= f.text_area(:description, size: "50*50")  %>
    <br>
    <%= f.submit :Post, class: "btn btn-primary", style: "margin-bottom: 30px;" %>

<% end %> 
  
</div>


<script type="text/javascript">
  $(document).ready(function(){
    function readURL(input) {
      for(i=0;i<input.files.length;i++){
      if (input.files && input.files[i]) {
        var reader = new FileReader();
            
        reader.onload = function (e) {
            //$('#blah').attr('src', e.target.result);
            $('#uniq').prepend('<li style="display: inline;"> <img src=" '+e.target.result+' " height="200" width="200" /> </li>')
            }
            
            reader.readAsDataURL(input.files[i]);
        }
      } 
    }
     $("#post_image").change(function(){
        readURL(this);  });
  });
</script>

<style type="text/css">

  img {
      border-radius: 8px;
      }

</style>



