<div class="col-lg-12" style="background-color: #EAECEE">
  <div class="col-lg-3 card" style="margin-left:10px;margin-bottom: 10px;border-radius: 10px; background-color: white;position: fixed;">
    <br>
    <div class="col-lg-12" id="image_upload<%=current_user.id%>" onmouseover="iconAppear();" onmouseout="iconDisappear();" >
      <img src="<%=@user.image.url%>" style="width:95%;height: 300px; cursor: pointer;" onClick="profileImageClick();" >
      <% if current_user == @user %>
        <% if current_user.image_file_name != nil %>
           <%= link_to "", delete_profile_pic_path,remote: true, method: :delete, id: "icon_appear", class: "fas fa-trash fa-2x", style: "position: absolute;top: 5px; left: 260px; opacity: 0;", data: {confirm: "Are you sure?"}, title: "Delete image" %>
        <%end%>
        <input type="file" id="profile_image_input" style="opacity: 0;" onChange="imageInputChange();">
      <%end%>
    </div> 


    <div class="col-lg-12">
           
      <div id="edit_name<%=@user.id%>" >
         <h3>
          <%= @user.full_name %>
          <% if current_user == @user %>
            <%= link_to "", edit_name_path(@user), remote: true, class: "fas fa-edit", title: "Edit"  %>
          <%end%>
         </h3>     
      </div>
      <h4> <%= @user.email %></h4>
      <% if @user.age == nil and @user.age == nil %>
        <% if current_user == @user %>
          <%= render partial: "users/edit_profile"%>
        <% end %>
      <% else %>
        <div id="edit_profile<%=@user.id%>">
          <h4>
            <%= @user.gender %>, <%= @user.age %>
            <% if current_user == @user %>
              <%= link_to "", edit_profile_path, remote: true, style: "margin-left: 25px;", class: "fas fa-edit", title: "Edit"  %>
            <% end %>  
          </h4>
        </div>
      <% end %>
      <%= link_to "View Friends", friends_index_path(@user), class: "fas fa-user-friends"%>
      <div class="col-lg-12">
        <!-- <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-google"></i></a>  -->  
        <br>
        <% if current_user.friends.include?(@user)%>
          <%= link_to "Remove friend", friends_destroy_path(@user), data: {confirm: "Are you sure?"}, class: "black" %>
        <% elsif @user == current_user %>
        <% elsif current_user.friend_requests.find_by(friend_id: @user.id) %> 
          <%= link_to "Cancel request",  current_user.friend_requests.find_by(friend_id: @user.id), method: :delete, data: {confirm: "Are you sure?"}, class: "black" %>
        <% elsif @user.friend_requests.find_by(friend_id: current_user.id) %>
          <%= link_to "Accept",  @user.friend_requests.find_by(friend_id: current_user.id), method: :patch, class: "black" %>
          <%= link_to "Decline",  @user.friend_requests.find_by(friend_id: current_user.id), method: :delete, data: {confirm: "Are you sure?"}, class: "black" %>
        <% else%>
          <%= link_to "Add friend", friend_requests_path(@user), method: :post, class: "black" %> 
        <%end%>
        <br>
        

     </div>
    </div>
  </div>
  <div class="col-lg-7" style="float: right;">
     <%= render partial: "posts/posts"%> 
  </div>

</div>

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  height: 550px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}
.icon-appear:hover #icon_appear{
  opacity: 1;
}

</style>

<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });
</script>
