// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-mark {
  background-color: #D0D3D4; border-radius: 7px;
  word-break: break-all;
  text-align: left;
  float: left;
  }

div.pic {
  margin: auto;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.20);
  }
  
img {
      border-radius: 8px;
    }

    p.lead {
      text-align: center;
    }
a {
  text-decoration: none;
  font-size: 16px;
  color: #154360;
}

button:hover {
  opacity: 0.7;
}

.black {
  border: none;
  border-radius: 3px;
  outline: 0;
  display: inline-block;
  padding: 4px;
  color: white;
  background-color: #212F3D  ;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}