<!DOCTYPE html>
<html>
  <head>
    <title> SocialMedia</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- cdn for modal -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- cdn for profile card -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css"/>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  
  </head>

  <body>
       <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="position:absolute;" >
          <ul class="nav navbar-nav  mr-auto" id="nav_bar">
            <li class="nav-item" >
              <%= link_to "", root_path, class: "navbar-brand", class: "fab fa-html5 fa-3x", title: "Home", style: "color:#FDFEFE    ;"%>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item" style="margin-left: 20px;">
                <%= link_to "", new_post_path, class: "fas fa-envelope-open fa-2x", title: "New Post" , style: "color: #FDFEFE   ;"%>
              </li>
              
              <li class="nav-item">
                <%= link_to "", friend_request_path(current_user), class: "fas fa-bell fa-2x" , title: "Icomming/Outgoing Requets", style: "color: #FDFEFE  ;"%>
                <span class="badge badge-light" style="background-color: red;    position: absolute;top: 20px;left: 50%;"><%= @friend_requests.count %></span>
              </li>

              <li class="nav-item">
                <%= link_to "",  rooms_index_path, class: "fab fa-facebook-messenger fa-2x", title: "Messenger", style: "color: #FDFEFE   ;" %>
                <span class="badge badge-light" id = "message_notifiaction<%=current_user.id%>" style="background-color: red;    position: absolute;top: 20px;left: 55%;">
                  <%= @incomming_messages.count %>
                </span>
              </li>
              
              <li  class="nav-item" style="margin-top: 8px; margin-left: 25px;">
                <%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline my-2 my-lg-0" } do |form| %>
                  <%= form.text_field :q, placeholder: "Search by Name/Email", data: { behavior: "autocomplete" }, class: "form-control mr-sm-2",style: "width: 250px;" %>
                <% end %>
              </li>
              <li>
                 <img src="<%=current_user.image.url%>" style="width:45px;height:45px;border-radius: 50%; margin-left: 500px;margin-top: 2px;">
              </li>
              <li class="nav-item lead" style="margin-left: 5px;" >
                
                  <%= link_to "#{current_user.full_name}", user_profile_path(current_user), title: "Profile",style: "color: #FDFEFE;" %>
              </li>
              
            <% end %>
           
            <% if current_user %>
              <li class="nav-item">
                <%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-power-off fa-2x", title: "Sign Out", style: "color: #943126;" %>
              </li>
            <% else %>
             <li class="nav-item">
               <%= link_to "Login", new_user_session_path %>
             </li>

             <li class="nav-item">
               <%= link_to "Signup", new_user_registration_path %>
             </li>
                
             <% end %>
            </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
       <div class="col-lg-12 container text-center" style="margin-top: 53px;">
          <% flash.each do |a, b| %>
            <div class="alert alert-success">
              <%= b %>
            </div>
          <% end %>
        </div>
        
    <div class="container-fluid" style=" background-color: #EAECEE">
    
        <div class="row" style="margin-top: 75px;">
            <%= yield %>
        </div>
     
    </div>
 
 <script type="text/javascript">
   $(document).ready(function () {
       var url = window.location;
       $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
       $('ul.nav a').filter(function() {
            return this.href == url;
       }).parent().addClass('active');
   });
</script>
<style> 
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a{
  background-image: none !important;
}
 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: #27AE60   !important;
 }
</style>

  </body>
</html>




